:root {
  --theme: #1197e6;
  --bg-grey: #f5f5f5;
  --border: #e0e0e0;
}

nav {
  background: var(--theme);
}
nav .brand {
  font-size: 2rem;
  margin-left: 2rem;
}
nav .brand span {
  font-weight: 700;
}

.section-books {
  background: var(--bg-grey);
  border-bottom: 1px solid var(--border);
}

.card.book {
  display: grid;
  grid-template-areas: 'image details delete';
  grid-template-columns: 80px 1fr 40px;
  padding: 0.8rem;
}
.book-image {
  grid-area: image;
}
.book-image img {
  max-width: 60px;
}
.book-details {
  grid-area: details;
  color: #141414;
}
.book-title {
  font-weight: 1000;
  font-size: 1.4rem;
}
.book-author {
  font-size: 0.8rem;
}
.book-delete {
  grid-area: delete;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

form .input-field {
  margin: 2rem 0;
}